{% extends 'master.html' %}

{% block title%}
    Coming Soon
{% endblock %}

{% block content%}
<div class="topbar">
    <ul class="top-links">
        <li class="top-link" id="dashB">
            <a href="/facebook/dashboard">Status</a>
        </li>
        <li class="top-link" id="viewB">
            <a href="/facebook/views">View</a>
        </li>
        <li class="top-link" id="trendB">
            <a href="/facebook/trends">Trend</a>
        </li>
        <li class="top-link" id="compB">
            <a href="/facebook/comparison">Comparison</a>
        </li>
        <li class="top-link" id="postB">
            <a href="/facebook/post">Post</a>
        </li>
    </ul>
    <div class="usr">
        <span class="usrname">{{ username }}</span>
        <span class="material-symbols-outlined">face</span>
    </div>
</div>
<div class="ig-make-post">
    <div class="soon">
        coming soon
    </div>
</div>
{% endblock %}