{% extends 'master.html' %}

{% block title%}
    Coming Soon
{% endblock %}

{% block content%}
<div class="topbar">
    <ul class="top-links">
        <li class="top-link" id="dashB">
            <a href="/instagram/dashboard">Status</a>
        </li>
        <li class="top-link" id="viewB">
            <a href="/instagram/views">View</a>
        </li>
        <li class="top-link" id="trendB">
            <a href="/instagram/trends">Trend</a>
        </li>
        <li class="top-link" id="compB">
            <a href="/instagram/comparison">Comparison</a>
        </li>
        <li class="top-link" id="postB">
            <a href="/instagram/post">Post</a>
        </li>
    </ul>
    <div class="usr">
        {% if user.is_authenticated %}
            <span class="usrname">{{ user.username }}</span>
        {% else %}
            <span class="usrname">guest</span>
        {% endif %}
        <span class="material-symbols-outlined">face</span>
    </div>
</div>
<div class="ig-make-post">
    <div class="soon">
        coming soon
    </div>
</div>
{% endblock %}